.tituloAbout {
  text-align: center;
  font-size: 25px;
  transition: all 0.2s;
  font-family: 'Hind', sans-serif;
  margin: 50px; }

.tituloAbout:hover {
  font-size: 45px;
  font-weight: bold; }

.aboutUs {
  display: grid;
  grid-template-areas: "parrafo1 fotoVieja" "fotoVieja2 parrafo2";
  justify-content: center;
  font-size: 20px;
  margin: 10px; }

section#parrafo1 {
  grid-area: parrafo1; }

img#fotoVieja {
  grid-area: fotoVieja;
  justify-content: center;
  align-self: center; }

img#fotoVieja2 {
  grid-area: fotoVieja2;
  justify-content: center;
  align-self: center; }

section#parrafo2 {
  grid-area: parrafo2; }

@media (max-width: 576px) {
  #fotoVieja {
    height: 100px; }
  .aboutUs {
    font-size: 15px; }
  #fotoVieja2 {
    height: 100px; } }

.contacto {
  text-align: center;
  font-size: 25px;
  font-family: 'Hind', sans-serif;
  transition: 0.2s;
  margin: 50px; }

.contacto:hover {
  font-size: 45px;
  font-weight: bold; }

#formulario {
  text-align: center;
  font-family: 'Hind', sans-serif; }

@media (max-width: 576px) {
  #formulario {
    width: 100%; } }

.cuadroComentarios {
  resize: none; }

@media (max-width: 576px) {
  .cuadroComentarios {
    width: 300px;
    height: auto; } }

#nombreEmpresa {
  color: red;
  font-weight: bold;
  font-family: 'Share Tech', sans-serif;
  font-size: 60px; }

#lemaEmpresa {
  color: #582392;
  font-size: 20px;
  font-family: 'Hind', sans-serif; }

.piePagina {
  text-align: center;
  padding: 0px;
  font-size: 15px; }

#logo {
  margin: 10px 0px 10px 10px; }

#negro {
  background-color: black; }

@media (max-width: 576px) {
  #logo {
    width: 90%;
    height: auto; } }

#datosEmpresa {
  text-align: center;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  margin: 80px; }

@media (max-width: 576px) {
  #datosEmpresa {
    font-size: 15px; }
  .container {
    max-width: 200px !important; } }

@media (max-width: 768px) {
  .container {
    max-width: 200px !important; } }

.centrarTitulo {
  text-align: center;
  margin-top: 50px;
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  transition: all 0.2s; }

.centrarTitulo:hover {
  font-size: 45px;
  font-weight: bold; }

.carousel-inner img {
  width: 100%;
  height: 380px; }

iframe {
  max-width: 100%;
  height: auto; }

.caption {
  text-align: center !important;
  font-weight: bold !important; }

#ListadoProd {
  font-size: 25px;
  font-family: 'Hind', sans-serif;
  text-align: center;
  transition: 0.2s;
  margin: 50px; }

#tablaProductos {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
  margin: 50px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #E6E4FD;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 0; }

#ListadoProd:hover {
  font-size: 45px;
  font-weight: bold; }

.table-responsive {
  margin: 10px !important; }

#tituloSucursales {
  text-align: center;
  font-size: 25px;
  font-family: 'Hind', sans-serif;
  transition: 0.2s;
  margin: 50px; }

#tituloSucursales:hover {
  font-size: 45px;
  font-weight: bold; }

.sucursales {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Hind', sans-serif; }
