.contacto{
	text-align: center;
	font-size: 25px;
	font-family: 'Hind', sans-serif;
	transition: 0.2s;
	margin: 50px;
}

.contacto:hover {
	font-size: 45px;
	font-weight: bold;
}

#formulario {
	text-align: center;
	font-family: 'Hind', sans-serif;
}

@media (max-width: 576px) {
	#formulario{
		width: 100%;
	}
}

.cuadroComentarios {
  resize: none;
}

@media (max-width: 576px){
	.cuadroComentarios{
		width: 300px;
		height: auto;
	}
}
