.contacto{
	text-align: center;
	font-size: 25px;
	font-family: 'Hind', sans-serif;
	transition: 0.2s;
	margin: 50px;
}

.contacto:hover {
	font-size: 45px;
	font-weight: bold;
}

#formulario {
	text-align: center;
	font-family: 'Hind', sans-serif;
	margin: 10px 300px 10px 300px;
	padding: 10px 0px 10px 0px;
}

@media (max-width: 567px) {
	#formulario{
		width: 100%;
	}
}

.cuadroComentarios {
  resize: none;
}

