#nombreEmpresa {
	color:red; 
	font-weight: bold;
	font-family: 'Share Tech', sans-serif;
	font-size: 60px;
}

#lemaEmpresa {
	color: 	#582392;
	font-size: 20px;
	font-family: 'Hind', sans-serif;
}

.piePagina {
	text-align: center;
	padding: 0px;
	font-size: 15px;
}

#logo {
	margin: 10px 0px 10px 10px;
}

#negro {
	background-color: black;
}

@media (max-width: 576px) {
	#logo {
		width: 90%;
  		height: auto;
	}
}